= form_for @user_stock, remote: true do |f|
  - if @user_stock.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_stock.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user_stock.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.fields_for :stock do |g|
      = g.text_field :ticker, placeholder: "ticker"

  .field
    = f.number_field :quantity, placeholder: "quantity"

  .actions
    = f.button "Buy", type:"submit" 





