%table 
  %tr
    %th Symbol
    %th Quantity
    %th Bought at
    %th Current Price
    %th Total Profit
  - current_user.userstockinfos.each do |stock|
    %tr
      %td= "#{stock.stock.ticker}: "
      %td= stock.quantity
      %td= stock.price 
      %td= number_to_currency(stock.stock.get_latest_price)
      %td= number_to_currency(stock.profit)
